html,
body {
  margin: 0px;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.navbar {
  width: 84px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-bottom: 16px;
}

.main-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.title-container {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(137, 0, 0);
  font-size: 42px;
  font-weight: bold;
  flex-direction: column;
}

.courseNavBar {
  width: 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.courseNavBar a {
    text-decoration: none;
    color: black;
    margin-bottom: 16px;
  }