html,
body {
  margin: 0px;
  font-family: "Lato", serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-header {
  height: 72px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  margin: 0 24px;
  border-bottom: 1px solid lightgray;
}

.main-body {
  margin-left: 192px;
}

.red-background {
  background-color: red;
}

.red-icon {
  width: 26px;
  fill: red;
}
