html,
body {
  margin: 0px;
  font-family: "Lato", serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.main-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.courseNavBar {
  width: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.courseNavBar a {
  text-decoration: none;
  color: black;
  margin-bottom: 16px;
}

.red-background {
  background-color: red;
}

.red-icon {
  width: 26px;
  fill: red;
}
