html,
body {
  margin: 0px;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.navbar {
  width: 84px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-bottom: 16px;
}

.main-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.title-container {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(0, 191, 255);
  font-size: 42px;
  font-weight: bold;
  flex-direction: column;
}

.courseNavBar {
  width: 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.courseNavBar a {
  text-decoration: none;
  color: black;
  margin-bottom: 16px;
}

.list-header{
  width: calc(100vw - 310px);
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(182, 227, 255, 0.746);
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 24px;
  font-weight: normal;
}