
.styleBackground {
    background-color: white;
    height: 100vh;
};

.styleRibbon {
    background-color: indianred;
    height: 30%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
};

.styleMainLabel {
    font-size: 120px;
    font-weight: bold;
    color: white;
    margin: auto;
}

.styleButton {
    font-size: 60px;
    font-weight: bold;
    color: white;
    background-color: indianred;
    border-radius: 10px;
    height: 120px;
    width: 400px;
    margin: auto;
    border: none;
};

.styleButton:hover {
    opacity: 0.6;
}